
nav {
  background: #228B22;
}

nav .container {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

nav ul {
  list-style: none;
  display: flex; 
  flex-wrap: nowrap; 
  margin: 0; 
  padding: 0; 
}

nav ul li {
  margin: 0 15px; 
  text-align: center; 
}

nav ul li a {
  display: block; 
  padding: 15px 10px;
  color: #ecf0f1;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
}

nav ul li a:hover,
nav ul li a:focus {
  color:#3CB371;
  outline: none;
}


i#hamburguer { 
  background-color: #3CB371;
  color: white;
  display: block;
  text-align: center;
  padding: 10px;
  cursor: pointer; 
}

i#hamburguer:hover { 
  background-color: #3CB371;
  color: white;
}


@media (max-width: 600px) {
  nav ul {
    flex-direction: column; 
    width: 100%;
    max-width: 320px;
    display: none; 
  }

  nav ul.show {
    display: flex;
  }

  nav .container {
    flex-direction: column; 
    align-items: center;
  }

  nav ul li {
    width: 100%; 
    text-align: center; 
  }
}